In [0]:
import pandas as pd

df = pd.DataFrame([
                   ['green', 'Chevrolet', 2017],
                   ['blue', 'BMW', 2015],
                   ['yellow', 'Lexus', 2018]
])
df.columns = ['color', 'make', 'year']
df

## One Hot Encoder

Initializing two label encoders, one for Color and one for Make. Next, call the fit transform method which will process our data and transform the text into one numerical value for each. Assign the results to 2 new columns, color_encoded and make_encoded.

In [0]:
from sklearn.preprocessing import LabelEncoder

le_ = LabelEncoder()

df['color_encoded'] = le_.fit_transform(df.color)
df['make_encoded'] = le_.fit_transform(df.make)
df

    color       make  year  color_encoded  make_encoded
0   green  Chevrolet  2017              1             1
1    blue        BMW  2015              0             0
2  yellow      Lexus  2018              2             2

Now that we have numerical values, we can utilize the OneHotEncoder class of SciKit Learn to perform one-hot encoding.

In [0]:
from sklearn.preprocessing import OneHotEncoder

ohe_ = OneHotEncoder()

color = ohe_.fit_transform(df.color_encoded.values.reshape(-1,1)).toarray()
make = ohe_.fit_transform(df.make_encoded.values.reshape(-1,1)).toarray()

The fit_transform method returns a sparse array. Use the toarray() method to return a numpy array and assign this to variable X which has our one hot encoded results.

To add this back into the original dataframe you could do as below.

In [0]:
dfOneHot = pd.DataFrame(color, columns=['Color_' + str(int(i)) for i in range(color.shape[1])])
df = pd.concat([df, dfOneHot], axis=1)

dfOneHot = pd.DataFrame(make, columns = ['Make'+ str(int(i)) for i in range(make.shape[1])])
df = pd.concat([df, dfOneHot], axis=1)
df

    color       make  year  color_encoded  ...  Color_2  Make0  Make1  Make2
0   green  Chevrolet  2017              1  ...      0.0    0.0    1.0    0.0
1    blue        BMW  2015              0  ...      0.0    1.0    0.0    0.0
2  yellow      Lexus  2018              2  ...      1.0    0.0    0.0    1.0

[3 rows x 17 columns]